.background {
  /* position */
  position: absolute;
  inset: 0;
  z-index: -3;

  /* styling */
  background: var(--bkg-color);
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(135deg, var(--bkg-color-strong) 0%, var(--bkg-color) 50%, var(--bkg-color-strong) 100%);
  background: -webkit-linear-gradient(135deg, var(--bkg-color-strong) 0%, var(--bkg-color) 50%, var(--bkg-color-strong) 100%);
  background: linear-gradient(135deg, var(--bkg-color-strong) 0%, var(--bkg-color) 50%, var(--bkg-color-strong) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

.background_blob_container {
  /* position */
  position: fixed;
  inset: 0;
  z-index: -2;

  /* sizing */
  width: 100%;
  height: 100%;
}

.background_blob {
  /* position */
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 1;

  /* sizing */
  width: 40vmax;
  height: 40vmax;

  /* styling */
  border-radius: 50%;
  background-color: white;
  background: radial-gradient(rgb(255, 255, 255, 0.2), rgb(255, 255, 255, 0));

  /* animation */
  animation: rotate 40s infinite;
  opacity: 0.8;
}

.background_blur {
  /* position */
  position: absolute;
  inset: 0;
  z-index: 2;

  /* sizing */
  height: 100%;
  width: 100%;

  /* styling */
  backdrop-filter: blur(12vmax);
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.25;
  }

  to {
    rotate: 360deg;
  }
}

@media print, (prefers-reduced-motion) {
  .background_blob {
    /* animation */
    animation: none !important;
  }
}

.background_grid {
  /* position */
  position: absolute;
  inset: 0;
  z-index: -1;

  /* styling */
  --s: 100px; /* control the size */

  --_g: #00000000 90deg, var(--bkg-color-accent) 0;
  background: conic-gradient(from 90deg at 2px 2px, var(--_g)), conic-gradient(from 90deg at 1px 1px, var(--_g));
  background-size: var(--s) var(--s), calc(var(--s) / 5) calc(var(--s) / 5);
  background-position: center calc(50vh - (var(--s) / 2));
}
