section#code {
}

section#code > div.container {
  /* sizing */
  padding: var(--header-style-padding);
}

section#code > div.container > .ident_container {
  /* position */
  position: sticky;
  inset: auto;
  top: var(--header-style-padding-inline);
  z-index: 997;

  /* sizing */
  height: 0;
}

section#code > div.container > .ident_container > .ident {
  /* position */
  position: relative;
  top: 0;
  right: 0;

  /* flex */
  display: flex;

  /* sizing */
  width: fit-content;
  padding: 5px 10px;
  margin-left: auto;
  padding-right: calc(10px + var(--header-style-padding-inline));
  translate: var(--header-style-padding-inline) 0;

  /* text */
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;

  /* styling */
  color: var(--foreground-color-100);
  background-color: var(--background-color-100);
  border-top-left-radius: var(--ident-radius);
  border-bottom-left-radius: var(--ident-radius);
}

section#code > div.container > .loading {
  /* position */
  position: relative;

  /* sizing */
  width: 100%;
  height: 450px;

  /* styling */
}

section#code > div.container > .loading > .dots {
  /* variables */
  --size: 8px;
  --animation-duration: 0.75s;

  /* position */
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  /* sizing */
  width: var(--size);
  height: var(--size);

  /* styling */
  border-radius: 5px;
  background-color: var(--dnu-light-color-000);
  color: var(--dnu-light-color-000);

  /* animation */
  animation: dot-flashing var(--animation-duration) infinite linear alternate;
  animation-delay: calc(var(--animation-duration) / 2);
}
section#code > div.container > .loading > .dots::before,
section#code > div.container > .loading > .dots::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
section#code > div.container > .loading > .dots::before {
  /* position */
  left: -15px;

  /* sizing */
  width: var(--size);
  height: var(--size);

  /* styling */
  border-radius: 5px;
  background-color: var(--dnu-light-color-000);
  color: var(--dnu-light-color-000);

  /* animation */
  animation: dot-flashing var(--animation-duration) infinite alternate;
  animation-delay: 0s;
}
section#code > div.container > .loading > .dots::after {
  /* position */
  left: 15px;

  /* sizing */
  width: var(--size);
  height: var(--size);

  /* styling */
  border-radius: 5px;
  background-color: var(--dnu-light-color-000);
  color: var(--dnu-light-color-000);

  /* animation */
  animation: dot-flashing var(--animation-duration) infinite alternate;
  animation-delay: calc(var(--animation-duration) / 1);
}

@keyframes dot-flashing {
  0% {
    background-color: var(--dnu-light-color-000);
  }
  25% {
    background-color: var(--dnu-light-color-000);
  }
  75%,
  100% {
    background-color: var(--dnu-light-color-500);
  }
}

section#code > div.container > ul.grid {
  /* variables */
  --_width: max(282px, 15vw);

  /* spacing */
  margin: 0;
  padding: 0;

  /* grid */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(var(--_width), 100%), 1fr));
  grid-auto-rows: calc(var(--_width) / 16 * 9);
  gap: 20px;
}

section#code > div.container > ul.grid > a.entry:first-of-type {
  /* placement */
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

@media (max-width: 650px) {
  section#code > div.container > ul.grid > a.entry:first-of-type {
    /* placement */
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

section#code > div.container > ul.grid > a.entry {
  /* position */
  position: relative;

  /* sizing */
  width: 100%;
  aspect-ratio: unset;

  /* flex */
  display: flex;

  /* styling */
  overflow: hidden;
  color: var(--frg-color-title);
  outline: 2px solid rgb(var(--hover-color-rgb), 0.15);
  outline-offset: 2px;
  border-radius: var(--card-radius);

  /* transition */
  transition: outline-offset var(--transition-duration-400) var(--transition-method-default);
}

section#code > div.container > ul.grid > a.entry:hover,
section#code > div.container > ul.grid > a.entry:focus-visible {
  outline: 2px solid rgb(var(--hover-color-rgb), 0.75);
  outline-offset: 0;
}

section#code > div.container > ul.grid > a.entry > img.image {
  /* sizing */
  width: 100%;
  height: 100%;

  /* image */
  object-fit: cover;

  /* transition */
  transition: filter var(--transition-duration-400) var(--transition-method-default);
}

section#code > div.container > ul.grid > a.entry:hover > img.image,
section#code > div.container > ul.grid > a.entry:focus-visible > img.image {
  filter: blur(0px) brightness(0.8);
}

section#code > div.container > ul.grid > a.entry > div.about {
  /* position */
  position: absolute;
  inset: 0;

  /* sizing */
  padding: 10px;

  /* flex */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;

  /* styling */
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.75) 0%, rgba(255, 255, 255, 0) 30%);
  background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.75) 0%, rgba(255, 255, 255, 0) 30%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 0%, rgba(255, 255, 255, 0) 30%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
}

section#code > div.container > ul.grid > a.entry > div.about > span.title {
  /* text */
  font-size: 16px;
  font-weight: 700;
  line-height: 1;

  /* styling */
  color: white;
}

section#code > div.container > ul.grid > a.entry > div.about > span.subtitle {
  /* text */
  font-size: 10px;
  font-weight: 500;
  line-height: 1;

  /* styling */
  color: white;
}

section#code > div.container > ul.grid > a.entry > div.pills {
  /* position */
  position: absolute;
  inset: 4px;
  bottom: auto;

  /* flex */
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  gap: 5px;
  flex-wrap: wrap;
}

section#code > div.container > ul.grid > a.entry > div.pills > a {
  /* sizing */
  flex-shrink: 0;
  padding: 5px 10px;

  /* text */
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;

  /* styling */
  color: var(--frg-color-subtitle);
  background-color: var(--bkg-color);
  border-radius: var(--card-radius);
}

section#code > div.container > ul.grid > a.entry > div.pills > a:hover {
  outline: 2px solid currentColor;
  outline-offset: -2px;
}

section#code > div.container > ul.grid > a.entry > div.pills > span.latest {
  /* sizing */
  padding: 5px 10px;

  /* text */
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;

  /* styling */
  color: red;
  background-color: white;
  border-radius: var(--card-radius);
}
